Organization: {{ satellite_migration_organization }}
Location: {{ satellite_migration_location }}
Hostgroup: {{ satellite_migration_hostgroup }}
Activation Key: {{ satellite_migration_ak }}
Lifecycle Environment: {{ satellite_migration_lifecycle_environment }}
Operating System: {{ satellite_migration_operatingsystem }}
